@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-soria;
    }

    html {
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
    }

    main {
        @apply p-6
    }
}

@layer components {}

@layer utilities {
    @font-face {
        font-family: 'Soria';
        src: url('../fonts/soria-font.ttf') format('truetype');
    }
}